/* ----------------------------------
 * Button - button styling
 *
 * inside, but also outside of forms
 * modern <button> buttons, input buttons, anchor buttons
 * ---------------------------------- */

button
a.button
input.button
	display inline-block
	@extend .round-small

	font-family Ubuntu, Verdana, Helvetica, Arial, sans-serif
	font-size 12px

	color white
	font-weight bold
	// COULDDO (proven elsewhere):
	// line-height: inherit;
	// vertical-align:middle;
	// box-sizing: content-box;
	// min-height: 0;  // important for input

	// border?!?

	text-decoration none
	cursor pointer

	background $graymedium
	margin 5px 4px 10px -2px

	// 1) focus on vertical align of anchors (and other proper box models) first...
	
	height 25px			//  25px + ...
	padding 2px 7px 0 7px

	//border 2px solid $graymed_dim   //OLD
	border none
	box-sizing border-box

	// enhance contrast()
	@extend .shadow-medium-text

	&:hover, &:focus
		bump()  // slightly push up
		background $graymedium_hover
		@extend .shadow-strong-text


	&.button-main
		@extend .shadow-tiny
		background $linkcolor
		background linear-gradient(to bottom,$linkcolor 0%,lighten($linkcolor,10) 50%, $linkcolor 51%, darken($linkcolor,10) 100%); /* W3C, IE10+, FF16+, Chrome26+, Safari7+ */

		&:hover, &:focus
			background $linkcolor_hover

// b) tweak vertical align for anchor buttons */
//    padding (and border) do NOT contribute to height
button, input.button
	// needed? height 25px
	padding-bottom 1px // pushing from bottom helps lifting baseline
			