/* ----------------------------------
 * Colors - color definitions
 * ---------------------------------- */

$headercolor = #a8f
$footercolor = #bbf

$spotcolor = #c84  // „Schmuckfarbe“
$hrcolor   = #ccc

$graymedium = #888
$graymedium_hover = lighten( $graymedium, 5 ); // for less important buttons


$linkcolor = #ea0
// needed?  $linkcolor_dim =   darken( $linkcolor, 10 )
$linkcolor_hover = lighten( $linkcolor, 5 )
$linkcolor_bg = blend(rgba($linkcolor,.14), white)