/* ----------------------------------
 * Component - certain defined nested tag constructs
 *
 * - at least in theory not bound to a certain sections
 * - for actual sections (header, footer) → section.styl
 * ---------------------------------- */
