/* ----------------------------------
 * Font - font family defintions of custom fonts
 *
 * no need for ttf, svg,
 * for anything >= IE9, woff2 is perfectly sufficient
 * → http://caniuse.com/#feat=woff
 * ---------------------------------- */

// ------------------------------------
// book (normal width)
// ------------------------------------

// regular (+italic), bold (+italic)
@font-face {
    font-family: 'ubuntu';
    src: url('font/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('font/ubuntu/ubuntu-ri-webfont.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-ri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'ubuntu';
    src: url('font/ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-b-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('font/ubuntu/ubuntu-bi-webfont.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-bi-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

// ------------------------------------
// condensed
// ------------------------------------

// regular (+italic)
// bold (+italic)


@font-face {
    font-family: 'ubuntu_condensed';
    src: url('font/ubuntu/ubuntu-c-webfont.woff2') format('woff2'),
         url('font/ubuntu/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


// ------------------------------------
// light
// ------------------------------------

// @font-face {
//     font-family: 'ubuntu';
//     src: url('font/ubuntu/ubuntu-l-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntu-l-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntu';
//     src: url('font/ubuntu/ubuntu-li-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntu-li-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'ubuntu';
//     src: url('font/ubuntu/ubuntu-m-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntu-m-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntu';
//     src: url('font/ubuntu/ubuntu-mi-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntu-mi-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'ubuntu_mono';
//     src: url('font/ubuntu/ubuntumono-b-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntumono-b-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }


// ------------------------------------
// ubuntu mono
// ------------------------------------

// @font-face {
//     font-family: 'ubuntu_mono';
//     src: url('font/ubuntu/ubuntumono-bi-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntumono-bi-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'ubuntu_mono';
//     src: url('font/ubuntu/ubuntumono-r-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntumono-r-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntu_mono';
//     src: url('font/ubuntu/ubuntumono-ri-webfont.woff2') format('woff2'),
//          url('font/ubuntu/ubuntumono-ri-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
// }


