/* ----------------------------------
 * section_header
 *
 * styling of specific sections
 * ---------------------------------- */

// header - stickyness --
// COULDDO

// header - all else --------------------------------------
header
	padding 10px 0 10px
	background $headercolor